
.ai-helper {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgba(34, 93, 10, 0.41);
  border: 1px solid #051201;
  border-radius: 12px;
  padding: 16px;
  width: 240px;
  color: white;
  box-shadow: 0 0 12px rgba(0, 188, 212, 0.4);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.ai-helper input {
  background: #b6beb6;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 6px;
}

.ai-helper button {
  background: #19d400;
  border: none;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
}